/* Expand brick */
.brick.expanded {
    grid-area: auto;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    cursor: default;
    width: 100%;
    height: 60vh;
    padding-bottom: 0;
}
@media (max-width: 768px) {
    .brick.expanded {
        height: 70vh;
    }
}
/* Show brick content when expanded*/
.brick.expanded .content {
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
}
/* Hide label when brick is expanded */
.brick.expanded > .label {
    display: none;
}
/* New label when brick is expanded */
.expanded-label {
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: 900;
    text-transform: uppercase;
}
/* Content of expanded brick */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    /* border: 1px solid green; */
}
.body-content {
    /* border: 1px solid red; */
    height: 80%;
    margin-top: 2rem;
    /* Content appearing animation when brick is expanded */
    animation: fadeIn 0.8s ease forwards;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translate(10px) }
    to { opacity: 1; transform: translate(0);}
}


/* Hide non-expanded bricks when one is expanded */
.bento-grid.has-expanded .brick:not(.expanded) {
    display: none;
    pointer-events: none;
}
/* Non-expanded brick hover effect */
.brick:not(.expanded):hover {
    background: #000;
    color: #fff;
}
   
/* Close button inside expanded brick */
.close-btn {
    background: #fff;
    color: #000;
    border: 3px solid #000;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.close-btn:hover {
    background: #000;
    color: #fff;
}

/*! CONTACT */
.body-content.contact {
   display: flex;
   flex-direction: column;
   margin: 0;
   align-items: center;
}
#contact-form {
    width: 100%;
    max-width: 500px;
    margin: 2.5rem 0 0 0;
    padding: 0;
}
.body-content.contact ul,
.body-content.contact li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 0.5rem;
}
.body-content.contact label {
    font-size: clamp(0.8rem, 3vw, 1rem);
    margin-bottom: 0.1rem;
    font-weight: bold;
}
.body-content.contact input,
.body-content.contact textarea {
    padding: 6px;
    border: 2px solid #000;
    font-size: 0.8rem;
    resize: none;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}
.body-content.contact input:focus,
.body-content.contact textarea:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 5px #000;
}
.body-content.contact button {
    background: #000;
    color: #fff;
    border: 3px solid #000;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
/* Adaptation Mobile */
@media (max-width: 768px) {
    .body-content.contact {
        margin: 2rem;
    }
    #contact-form {
        max-width: 400px;
    }
}


/*! FORMATION  */

.body-content.formation {
    overflow-y: scroll;
    mask-image: linear-gradient(
        to bottom, 
        transparent 0%,    /* Début invisible en haut */
        black 8%,          /* Devient opaque après 8% de la hauteur */
        black 92%,         /* Reste opaque jusqu'à 92% */
        transparent 100%   /* Devient invisible à la fin */
    );
    height: 80%;
    padding: 2rem 2rem 0 0;
    margin: 2rem 0 0 2.5rem;
    border-left: 3px solid #000;
}
.item.formation {
    position: relative;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}


